python 		            3.6
Cython 		            0.29.14
h5py                    2.9.0
imutils                 0.5.2
ipython                 7.9.0
Keras                   2.2.4               
Keras-Applications      1.0.8               
Keras-Preprocessing     1.1.0               
keras-segmentation      0.3.0               
matplotlib              3.1.2              
numpy                   1.17.4              
nvidia-ml-py3           7.352.0             
opencv-python           4.1.2.30            
pandas                  0.24.2              
Pillow                  5.4.1               
pip                     19.3.1              
protobuf                3.11.3              
PyMySQL                 0.9.3               
pyparsing               2.4.6               
scikit-learn            0.20.2              
scipy                   1.2.0               
sklearn                 0.0                 
spyder                  3.2.6               
tensorboard             1.8.0               
tensorflow-estimator    1.13.0              
tensorflow-gpu          1.8.0               
tensorflow-hub          0.6.0               
utils                   0.9.0               
neptune-client          0.4.109             
